.button {
  width: 100px;
  padding: 13px 20px;
  border: none;
  border-radius: 8px;
  @media screen and (min-width: $md) {
    padding: 1.2em 0;
    width: 300px;
    font-size: 1rem;
  }
}

.button-purchase {
  cursor: pointer;
  text-align: center;

  background-color: #3483fa;
  color: #eee;

  font-weight: bold;
  &:hover {
    background-color: $buttonColor;
  }
}
