* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: $contentColor;
  position: relative;
  padding-bottom: 1em;
  min-height: 100vh;
}

input[type='search'] {
  outline: none;
}

// h2 {
//   margin: 0;
// }
